<nav class="top-bar" style="background-color: #0092B2;" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
    <h1><%= link_to 'POST',controller: '/posts', action: 'index'%></h1>
  </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown not-click"><a href="#">Menu</a>
        <ul class="dropdown">
        <li class="parent-link show-for-small-only"<a parent-link js-generated href="">Inicio</a></li>
        <li><label>Post</label></li>
        <% if admin_signed_in?%>
          <li><%= link_to'List',controller:'/posts',action:'index'%></li>
        <% else %>
          <li><%= link_to'List',controller:'/posts',action:'index'%></li>
          <li><%= link_to'New',controller:'/posts',action:'new'%></li>
        <%end%>
        <!--<li><label>Back</label></li>
        <li><label><%=link_to 'Back', posts_path %></label></li>-->    
      </ul>
      </li>
      <li class="divider"></li>
    </ul>


    <!-- Right Nav Section -->
    <ul class="navbar-text pull-right right">

    <% if user_signed_in?%>
      <li><a>Logged ini as <strong id= "login"><%=current_user.email%></strong>.</a></li>
      <li class="divider"></li>
      <li class="has-dropdown not-click"><a href="">User</a>
        <ul class="dropdown">
          <li class="parent-link show-for-small-only"<a parent-link js-generated href="">Start</a></li>
          <li><label>Post</label></li>
          <li><%=link_to 'Edit Profile', edit_user_registration_path, :class=>'navbar-link'%></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete, :class=>'navbar-link'%></li>
        </ul>
      </li>        
    <% end %>


    <% if admin_signed_in?%>
      <li><a>Logged ini as <strong id= "login"><%=current_admin.email%></strong>.</a></li>
      <li class="divider"></li>
      <li class="has-dropdown not-click"><a href="">Admin</a>
        <ul class="dropdown">
          <li class="parent-link show-for-small-only"<a parent-link js-generated href="">Start</a></li>
          <li><label>Post</label></li>
          <li><%=link_to 'Edit Profile', edit_admin_registration_path, :class=>'navbar-link'%></li>
          <li><%=link_to "Logout", destroy_admin_session_path, method: :delete, :class=>'navbar-link'%></li>
        </ul>
      </li>        
    <% end %>


      <% if !admin_signed_in? && !user_signed_in?  %> 
      <li><a><%=link_to "Sign up", new_user_registration_path,:class=>'navbar-link'%></a></li>
      <li><%=link_to "Login", new_user_session_path,:class=>'navbar-link'%></li>
      <!--<li><%= link_to "Login Admin", new_admin_session_path, :class => 'navbar-link' %></li> -->
      <% end %> 
      
    </ul>
  </section>
</nav>