<section class="margins">
  <h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <% if admin_signed_in? %>
        <th>email</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= User.find(post.user_id).email%></td>
        <td>
          <%if post.body %>
            <a href="#" data-reveal-id="post-<%=post.id%>">Show more</a>
              <div id="post-<%=post.id%>" class="reveal-modal" data-reveal>
                <%=post.body%>
                <a class="close-reveal-modal">&#215;</a>          
            </div>
          <%end%>
       </td>
        <!--<% if admin_signed_in? %>
        <td><%= User.find(post.user_id).email%></td>
        <%end%>
        <!--<td><%= link_to 'Show', post %></td>-->
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <% if !admin_signed_in? %>
    <%= link_to 'New Post', new_post_path, :class => 'button round btn' %>
  <% end %>
</section>
