<section class="margins">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @post.body %>
  </p>

  <div id="comments">
    <%=render :partial => @post.comments.reverse %>
  </div>

  <%= form_for([@post, Comment.new], remote: true) do |f|%>
    <p><%=f.label :body, "New Comment" %><br>
      <%= f.text_area :body, :class => 'validate[required,minSize[20]]' %>
    </p>
    <p>
      <%= f.submit "Add Comment", :class => 'button round btn' %>
    </p>
  <% end %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</section>