html,body{
	margin: 0px;	
	font-family: 'Roboto', sans-serif;
}
.btn{	
	text-transform: uppercase;
	border-width: 1px;	
    border-style: solid;
  	font-size: 11px;
  	padding: 14px;
}
.Tpost:hover{
	background: #0092B2; 
}
.btn:visited{
	color: white;
	text-decoration: none;
}
.btn:hover{
	background-color: #929292	
}

a, a:visited{
	color: inherit;
	text-decoration: none;
}
a:hover{
	background: #BCBCBC;
	color: #000;
}
table{
	width: 100%;
	text-align: center;
}
tr:nth-child(even) {
    background: #BCBCBC;
}
tr:nth-child(odd) {
    background: #ffffff;
}
.margins{
	width:80%; 
	margin:80px auto;
	padding: 0 18em;
}
.row1{
	margin: 3% 65%;
  	max-width: 62.5rem;
  	width: 100%;
}
.close-reveal-modal:hover{
	background-color: #ffffff; 
	color: red;
}
#login{
	text-decoration: underline;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
